.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #777;
}

.cabecalho h1 {
  margin: 0;
  font-size: 1.4rem;
}

.cabecalho a {
  background-color: crimson;
  padding: 5px 20px;
  border-radius: 15px;
}

.conteudo {
  padding: 55px;
  height: 100%;
}
